[2021-11-04 15:40] peregilk opened #24 "Pretraining from scratch"
Thanks a lot for releasing this code. We have been trying to train a Norwegian T5-base from the sample Flax T5 (v1.1) [implementation](https://github.com/huggingface/transformers/tree/master/examples/flax/language-modeling) by the HuggingFace team. We have however been struggling with some instabilities when finetuning this models [described in this issue](https://github.com/huggingface/transforme

[2021-11-05 18:09] lintangsutawika opened #30 "How to control which layers are trainable?"
What parameters should I change to control which layers or model params are trainable?

In the [mesh tf version](https://github.com/google-research/text-to-text-transfer-transformer) I can use `run.variable_filter` but is that also possible to add to the gin file here?

[2021-11-08 15:59] adarob commented on #24
We typically use seqio Tasks to set up the data pipelines with T5X.  You can see the original T5 pretraining Task here: https://github.com/google-research/text-to-text-transfer-transformer/blob/3d10afd51ba97ac29eb66ae701eca274488202f7/t5/data/tasks.py#L45

It should certainly be possible to wrap the HuggingFace tokenizer in a seqio.Vocabulary like we did for SentencePiece: https://github.com/googl

[2021-11-08 16:00] adarob commented on #24
Closing this issue, but please open a new thread in "Discussions" if you have additional questions.

[2021-11-08 16:00] #24 closed

[2021-12-07 14:06] dbalabka opened #78 "Incorrect checkpoint path"
[code]

It seems that the problem is in: https://github.com/google-research/t5x/blob/main/t5x/checkpoints.py#L219

[2021-12-07 14:24] adarob commented on #78
Thanks -- we actually think this is a TensorStore bug. Try installing v0.1.13 of tensorstore in the meantime.

[2021-12-07 14:24] adarob commented on #78
fyi @jbms

[2021-12-07 14:34] dbalabka commented on #78
@adarob I've just updated this function as follows to make it work:
[code]

[2021-12-08 08:48] dbalabka opened #79 "XLA fails to compile model"
I'm trying to follow instructions to fine-tune the translation model: https://github.com/google-research/t5x#fine-tuning
Unfortunately, I'm getting an error:
[code]

[2021-12-08 08:50] dbalabka commented on #79
The problem is that it requires a newer version of `libtpu_nighly`:
[code]

[2021-12-08 08:50] #79 closed

[2021-12-08 14:20] dbalabka commented on #78
@adarob my fix does not help. The right version of `tensorstore` fixes the issues:
[code]
Thanks for the help. Feel free to close the issue :)

[2021-12-08 17:53] #78 closed

[2021-12-09 17:33] raunak-agarwal opened #86 "Encoder-only T5"
Hi,
Thanks for the great work!

Just a quick question: I'm looking to replicate the results of the [EncT5](https://arxiv.org/pdf/2110.08426.pdf) paper and was wondering if this repo could be useful. Is there an easy way to extract (and finetune) an encoder-only T5 model using your implementation? If not, is this something on your roadmap?

[2021-12-14 17:46] sbmaruf opened #89 "Multi-node GPU training"
Can you provide some documentation on using T5X models on GPUs?
I can see [some example](https://github.com/google-research/text-to-text-transfer-transformer#gpu-usage) in original T5 repository but not here.
Also does T5X support training on multi-node GPU cluster?

[2022-01-11 08:07] dbalabka opened #135 "Inference epoch"
Why does inference happen in multiple epochs? The results of each epoch are saved in a separate file.

[code]

[2022-01-11 15:08] #135 closed

[2022-01-20 10:05] peregilk opened #164 "byT5"
I see that the byT5 model is implemented in T5x but I can not find any byT5 checkpoint to initiate finetuning from. Any chance you could make such a checkpoint available?

[2022-01-20 10:18] peregilk opened #165 "Documentation issues"
@adarob

Thanks for making this available. Just a couple minor issues on the main page that could make stuff easier:

* The referred script _"t5x/examples/t5/t5_1_1/examples/base_wmt_train.gin"_ does not exist. I guess it is _"t5x/t5x/examples/t5/t5_1_1/examples/base_wmt_from_scratch.gin"_ that should be used.

* Neither does the base finetuning script that is referred further down the page. There

[2022-01-20 15:13] adarob commented on #164
We don't have the converted checkpoints yet, but you can use the original ones for now -- conversion will happen on the fly.

FYI @nconstant-google @lintingxue .

[2022-01-20 21:22] peregilk commented on #165
First script refers has this code:
[code]

This gin_file does not exist. Content of __t5x/examples/t5/t5_1_1/examples/__ is:
[code]
I guess it is __base_wmt_from_scratch.gin__ that you should be referring to, or maybe __base_wmt19_ende_train.gin__?

[2022-01-20 21:23] peregilk commented on #164
Awesome! Thanks.

[2022-02-01 14:37] #164 closed

[2022-02-01 14:37] #165 closed

[2022-02-01 14:46] peregilk opened #198 "Exporting models"
Are there any instructions available on how to export the T5x models to other formats, for instance to PyTorch (or to another format that then can be exported to PyTorch)? I am trying to export a finetuned byT5-model.

[2022-02-02 02:14] blester125 commented on #30
Currently you can use a MultiOptimizer to do this. We do it a lot when we use T5X for Prompt Tuning. You can find an example of doing that here https://github.com/google-research/prompt-tuning/blob/a7d507fbb01c0a5d24c9726bd61dbf966024c0d0/prompt_tuning/configs/models/t5_1_1_base_prompt.gin#L65

[2022-02-02 09:00] #30 closed

[2022-02-02 09:56] LeoLaugier opened #214 "Out of RAM when training T5x on WMT14 En-De with Colab's TPU"
Hi,

I wanted to check if I can train and evaluate T5x Base on Colab's TPU.

When I try it in [this Colab notebook](https://colab.research.google.com/drive/10_gua3qyK9XH1TJGLXp5UCwzKh7UmjnR?usp=sharing), the session crashes after requesting more RAM than available (12 GB).

The last information log I receive is

`trainer.py:472] Training: step 0`

And the last warning I get is:

`/usr/local/lib/py

[2022-02-02 17:04] LeoLaugier commented on #214
Thanks @adarob

(FYI, I was able to fine-tune T5-3B's original TF implementation on Colab.)

Good to know that a future Colab example may be released at some point.

Best,

Leo

[2022-02-02 17:04] #214 closed

[2022-02-08 06:34] ChaosCodes opened #236 "DuplicateFlagError when first running the code"
Hello, I am trying to run the code on my GPU server. However, after I installed the package, I got such an error.

This is the error msg, could you help me with this?

[code]

[2022-02-08 09:09] ChaosCodes commented on #236
Solved now.

[2022-02-08 09:09] #236 closed

[2022-02-09 21:51] zphang opened #243 "Adafactor HParamMap factor rule definitions missing?"

[2022-02-09 22:00] adarob commented on #243
Is the following in your gin config:

[code]

[2022-02-09 22:03] zphang commented on #243
Hi,

Yep, that's in my config and seems to be correctly applied. For the Adafactor object, I believe `logical_factor_rules` is provided but `factor_map` is not.

[2022-02-10 17:32] adarob commented on #198
Correct, there is no t5x->mtf converter.
I just put in a fix for the deploy Colab (https://github.com/google-research/text-to-text-transfer-transformer/pull/974).

We have a more direct way to convert from T5X to SavedModel if that's what you're interested in, but we haven't prioritized open sourcing it thus far.

[2022-02-11 02:57] dptam opened #250 "partitioning issues during inference on v3-32"
Hi,

I was running inference on prompt-tuning which I think this calls this codebase and I ran into an issue when doing inference on a v3-32 with the partitioning with `TypeError: 'ShapeDtypeStruct' object is not iterable`. Training works fine on a v3-32, and training and inference work fine on a v3-8.

Here is the traceback.

[code]

[2022-02-11 13:19] peregilk commented on #198
@adarob
Following up my own post here. First let me say that I am extremely impressed with the T5x for training T5 on the v3-8. It seems very stable and incredibly fast. IMO it is the best platform out there for running experiments on the very flexible T5 architecture.

I am however dependent on merging these models with other models in PyTorch/Transformers, and the conversion process seem very aw

[2022-02-11 17:00] adarob commented on #250
fyi @blester125

[2022-02-11 17:48] adarob commented on #250
can you paste in your config?

[2022-02-11 19:47] dptam commented on #250
[code]

I also tried removing the gin.partitioning.ModelBasedPjitPartitioner.model_parallel_submesh value, but got the same error. Thanks

[2022-02-11 19:55] adarob commented on #250
This looks like a bug in the prompt-tuning configs -- can you file a bug there?
A given `model_parallel_submesh` work for every TPU size. I'd recommend using `num_partitions` instead.
FYI @blester125 @nconstant-google

[2022-02-11 20:03] dptam commented on #250
I used that same `model_parallel_submesh` value for training on the same machine and it worked. Should it work for inference if it worked for training?

[2022-02-11 21:34] adarob commented on #250
Yes, that likely isn't the issue -- although I would recommend @blester125 update their example configs regardless.

Could you log the trainstate that is being passed to
[code]
and share it?

[2022-02-11 21:49] dptam commented on #250
This is the print for `self.global_train_state_shape`

[code]

[2022-02-13 21:19] stefan-it commented on #198
Hi @peregilk ,

I have the same problem now, as I've pre-trained a T5 model from scratch, and I will have a look at the Notebook now.

Would be a cool contribution to Transformers as well to have a conversion script from T5X (/cc @patrickvonplaten and @patil-suraj) :)

[2022-02-14 20:25] #250 closed

[2022-02-15 15:50] versae commented on #198
Related: https://github.com/huggingface/transformers/issues/15467 And an unsorted repo @patrickvonplaten put together which I still have to test: https://github.com/patrickvonplaten/t5-mtf-to-hf-converter

[2022-02-16 10:00] patrickvonplaten commented on #198
Agree very much! It should be pretty easy to adapt the following function: https://github.com/huggingface/transformers/blob/b87c044c79a408c0a1e7f7b046b5b4ce999c2d0e/src/transformers/models/t5/modeling_t5.py#L73 to make it work from t5x -> HF PyTorch. @versae , @stefan-it - would you be interested in opening a PR for this? More than happy to help you guys on it

[2022-02-16 12:50] stefan-it commented on #198
I'm currently working on it, will give some updates here :)

[2022-02-18 19:27] zphang commented on #243
Hi, is there any further insight into this?

[2022-02-23 03:56] adarob commented on #243
friendly ping @levskaya

[2022-02-28 14:36] peregilk commented on #198
@stefan-it Any luck with the T5X export?

[2022-02-28 15:24] stefan-it commented on #198
Hi @peregilk , conversion is working, but the model performance is not good (I've tried it with some of T5X checkpoints and with own models).

Here's a draft: https://gist.github.com/stefan-it/30e4998ef159f33696e377a46f699d9f

Maybe someone could also have a look at it and finds the error!

[2022-02-28 17:24] patrickvonplaten commented on #198
First step would be to go through the modeling code line-by-line to see where the differences are

[2022-03-04 12:01] levskaya commented on #243
@zphang - so very sorry for the slow reply.  I was on vacation for a few weeks.

I just tried to reproduce the problem, but couldn't manage to.

After setting up a fresh TPU VM and installing jax & t5x I ran:
[code]
which trained, did evals and inference without any problems.

Did you make any changes to the gin files?  Could you provide instructions to reproduce?

Again, sorry for the delayed res

[2022-03-08 02:53] swcrazyfan commented on #214
Hey! Could you share your Colab notebook with me?

[2022-03-08 16:53] LeoLaugier commented on #214
Hi, the notebook is [here](https://colab.research.google.com/drive/10_gua3qyK9XH1TJGLXp5UCwzKh7UmjnR?usp=sharing).

Let me know if you can't open it.

Best,

Leo

[2022-03-09 05:33] swcrazyfan commented on #214
Thanks so much! Opened it, and I'm looking through it now. I can't find anything about what kind of data format I should put in the data directory. Is a CSV fine or should it be something like tfrecords?

[2022-03-09 08:04] LeoLaugier commented on #214
The notebook is based on the example given by [t5x's README](https://github.com/google-research/t5x#example-english-to-german-translation) (English to German translation): the data correspond to the [_wmt_t2t_ende_v003_](https://github.com/google-research/text-to-text-transfer-transformer/blob/d81c0bab2a41b4d5dfbe4971de32f7d67df65f31/t5/data/tasks.py#L212) task.

[2022-03-10 17:23] LeoLaugier opened #340 "Fatal Python error: Segmentation fault, when training t5x-XXL on a TPU Pod v3-32"
Hi,

I was able to train and infer [prompt tuning](https://github.com/google-research/prompt-tuning) with t5x-XXL on a TPU Pod v3-32 for my custom task defined from a TSV file, but I am seeing now an error and can't understand it.

I follow the instructions from [prompt tuning](https://github.com/google-research/prompt-tuning#training-a-prompt-on-a-pod-slice) to train and infer Prompt on a Pod Sli

[2022-03-11 13:29] LeoLaugier commented on #340
Actually I'm having some doubt on the command provided to install libraries on the Pod TPU, could soemone check it is correct?

[code]
For instance, I don't get why `python3 -m pip install . -f https://storage.googleapis.com/jax-releases/libtpu_releases.html` is not right after the &&, and why there is no need of `[tpu]` after `pip install .`

Thanks

[2022-03-14 17:56] SnehaMondal opened #344 "Training freezes when trying to evaluate previously saved checkpoint"
I'm fine-tuning an mT5 small checkpoint on a custom mixture. For debugging, I've set `eval_period=25` and `utils.SaveCheckpointConfig.period=50` in finetune.gin.
The training job freezes every time
![Screenshot 2022-03-14 11 19 52 PM](https://user-images.githubusercontent.com/7523108/158232459-037e80fa-c7c6-4fd3-a629-b1a5bdf53c83.png)
when it tries to run inference on a saved checkpoint (see attac

[2022-03-14 18:05] SnehaMondal commented on #344
This happens *only* when evaluating a saved checkpoint. When evaluating without saving checkpoints (i.e. at 25th, 75th, 125th steps), the same code runs smoothly. I've attached a screenshot of metrics being computed after completing the 25th training step.

![Screenshot 2022-03-14 11 31 50 PM](https://user-images.githubusercontent.com/7523108/158233621-c29f9c9f-bd21-4bc5-a32f-2a673ff0e07a.png)

[2022-03-14 19:38] SnehaMondal commented on #344
Doesn't solve the problem. I've set concurrent_metrics to False, and it's reflected in the gin params written to stdout when the script launches

[code]

[2022-03-14 19:40] adarob commented on #344
When you kill the job, can you get a stacktrace to see where the threads are stuck?

[2022-03-14 20:45] SnehaMondal commented on #344
Does this help?

[code]

[2022-03-14 20:47] adarob commented on #344
@yashk2810 do you know why it would be stalling here?

[2022-03-14 20:48] adarob commented on #344
@SnehaMondal can you get a similar trace from the other TPU hosts? What size TPU are you using?

[2022-03-14 21:03] SnehaMondal commented on #344
I'm using a v3-8, so there's a single TPU host.

[2022-03-15 15:48] salayatana66 opened #351 "Support forward mode differentiation"
Currently forward mode differentiation does not work as `losses.py` implements the `cross_entropy_with_logits` using `jax.custom_vjp`. If it was implemented with `jax.custom_jvp` one would get both forward and reverse mode supported. An example application of forward mode differentiation is inspecting the Hessian and the eigenvalues of a model.

[2022-03-15 17:48] yashk2810 commented on #344
I tried this in public colab and it seems to work for me. Public colab is single host.

[2022-03-15 17:54] SnehaMondal commented on #344
@yashk2810 could you point me to the colab you ran? I could try re-running it on my task + dataset and see if that works.

[2022-03-17 16:00] peregilk commented on #198
@stefan-it I thought I should take a look at this, and start by looking at what is the differences between converting the though the paths described above. But first: Have you tested this on different model sizes Stefan, and know that they all have bad performance? Have you made any changes/fixes on this lately?

[2022-03-17 18:36] dptam opened #366 "Seg Fault after saving checkpoints"
Hi,

I am getting a seg fault sometimes after the model has saved the checkpoint. It is not every checkpoint and seems to be random which checkpoints it crashes after. I am not sure if it is related to issue #340

For example, I am running `prompt_tuning/scripts/sst2-demo-xxl.sh`, and the output is below.

[code]

Thanks

[2022-03-17 18:49] adarob commented on #366
Oh, actually maybe the segfault is coming from here:   File "/home/dptam/.local/lib/python3.8/site-packages/jax/interpreters/pxla.py", line 664 in _sda_value

@yashk2810 any thoughts?

[2022-03-17 19:10] yashk2810 commented on #366
I don't think its related to pxla.py. Maybe its coming from TensorStore?

[2022-03-17 19:11] yashk2810 commented on #366
Is there a way to get a small repro?

[2022-03-17 23:02] dptam commented on #366
This is commit e926532b703ddb07641f91558ec395da00d1f2bc
One thing is that when I just tried installing the dependencies for prompt-tuning (including t5x) and running it, I was getting some tpu embedding error. I don't remember exactly. So I cloned a copy of t5x under my home directory and installed the dependencies for t5x, and the error was gone when running it.

[2022-03-19 04:56] levskaya commented on #351
Hi - the `custom_vjp` approach is intentional to exactly control the precision, stability, and performance of the final compiled function.  If you need to do forward-diff, I would just recommend substituting the straightforward loss+z-loss definition and let JAX take care of the fwd AD.

[2022-03-19 19:03] peregilk commented on #366
I am experiencing a very similar error, and is attaching to this issue instead of opening a new. Just like @dptam is describing, the crashes happens right after saving a random checkpoint. I have not installed any prompt tuning dependencies, but I did just update the t5x.

Here is part of my error log on the worker that crashes:
[code]

[2022-03-19 20:44] peregilk opened #370 "Convert script not running"
It is not currently possible to run the MT->T5X convertion script directly like this:

[code]
You are getting the following error:

[code]

Setting DROPOUT_RATE manually, for instance at the end of the small.gin-file, is a workaround. Not sure what is a clean way of fixing the issue.

[2022-03-20 14:54] peregilk commented on #198
@patrickvonplaten @stefan-it I have started debugging this. I have created a repo on pere/test-t5-small. It contains some of the converted models for convenience. Unfortunately I am not 100% sure that the MTF t5-small I am pulling from the official google t5-bucket is the same that is used for creating the Huggingface t5-small. However, it seems very clear that there is a problem with the layer de

[2022-03-21 16:01] patrickvonplaten commented on #198
Running this command:

[code]

looks correct to me and indeed `pere/test-t5-small` seems to be missing a weight. Where does this model come from? Was it coverted from T5X?

[2022-03-21 18:46] peregilk commented on #198
@patrickvonplaten Following up my own post. I did try to directly convert some of the t5x-models that are in the same bucket, and I am getting the same error on the same layer.

[2022-03-22 11:18] patrickvonplaten commented on #198
Looking into the TF -> PT conversion now :-)

[2022-03-22 11:33] patrickvonplaten commented on #198
@peregilk, I cannot reproduce this error. When I do the conversion as explained here: https://github.com/huggingface/transformers/pull/16328 (see comment in the added script), there are no weights missing.
Note that the config.json is just copied from https://huggingface.co/t5-small

Can you take a look?

[2022-03-23 17:43] peregilk commented on #198
I have now converted the same model in two ways.
a) pere/test-t5-small is converted using the internal MTF->T5X-conversion-script and then the script from the Gist that @stefan-it  published.
b) pere/test-t5-small-direct is converted using the script that @patrickvonplaten just checked in for converting MTF checkpoints to HuggingFace

It is now possible to compare the models layer by layer, and I

[2022-03-23 18:41] stefan-it commented on #198
Ah, I see, thanks for that comparison script!

Problem is here:

[code]

Initially I was very sceptical about this reshaping 😅 so I'm currently looking into it :)

[2022-03-23 19:52] stefan-it commented on #198
@peregilk I forgot to initialize to use the `embedding` key in a previous version of the conversion script. I fixed it here:

https://gist.github.com/stefan-it/30e4998ef159f33696e377a46f699d9f#file-convert_t5x_checkpoint_to_flax-py-L115

Now the following warning is gone:

[code]

[2022-03-23 20:57] peregilk commented on #198
@stefan-it Where you able to get a working model after that fix? This seem to just affect the decoder layer, there was an error on both the encoder and the decoder layer.

[2022-03-23 21:17] stefan-it commented on #198
Hi @peregilk , this is just another fix, but not the root cause for our main problem.

I did some debugging. The original FLAX model weight for the "relative_attention_bias" embeddings would be:

[code]

this has a shape of `(32, 6)`.

The loaded T5X weight has a shape of `(6, 32)` and looks like:

[code]

So `t5x` needs to re-shaped to `(32, 6)` but then the order is wrong!

Any help would highly

[2022-03-23 21:22] stefan-it commented on #198
Ah.... re-shape is wrong here, I think it needs to be transposed?!

[2022-03-23 21:29] stefan-it commented on #198
@peregilk Could you please test the new version of the script:

https://gist.github.com/stefan-it/30e4998ef159f33696e377a46f699d9f

Main differences are in lines 52 and 113.

Btw. I've seen that you are using v1.0 and your changes w.r.t. `wi_0` and `wi_1` -> I will also add a kind of compatibility mode for v1.0 :)

[2022-03-23 22:06] peregilk commented on #198
Ill test with 1.1 tomorrow. It would be great if we got it to work for both versions.

[2022-03-23 22:13] stefan-it commented on #198
Cool, thanks! I have already update the GIST incl. checks for `wi_0` and `wi_1` split. It should then work with both 1.0 and 1.1.

[2022-03-23 23:49] patrickvonplaten commented on #198
Cool, would also be very happy to help by adding a conversion script to HF's transformers somewhere!

[2022-03-24 21:47] peregilk commented on #198
Great work, @stefan-it! I have converted a base t5.1.1-model, using the two conversion scripts. The models are identical!

For me, this is working now, and will allow me to make my T5X models available in HuggingFace. Thanks a lot!

What else is needed here @patrickvonplaten?

[2022-03-24 22:07] stefan-it commented on #198
@peregilk Great to hear!

@patrickvonplaten I can create a PR for it that adds the conversion script (then located under `/models/t5`). I will also try to run some downstream evaluations on it.

[2022-03-25 03:12] nimasadri11 opened #386 "Custom dataset gin file"
I have followed [this](https://github.com/google-research/t5x#custom-components) section to create my own dataset and run the `train.py` script. However, I get the following error:
[code]
Any help would be appreciated!

[2022-03-25 12:59] peregilk commented on #198
@stefan-it I am trying to convert some of my own models using the script. These are large mt5-models (bfloat16) that I know are giving good inference results within T5X. I am trying to upload them to HuggingFace and use the widget for downstream tasks. Unfortunately I am not getting very good results. I am currently debugging this.  Did you have any luck running downstream tasks with the converted

[2022-03-25 20:31] stefan-it commented on #198
@peregilk I think I've found a missing parameter: `t5x_model["target"]["decoder"]["logits_dense"]` is currently not used in the conversion script. Output is:

[code]

When I load the original T5 model checkpoint using:

[code]

The `lm_head.weight` tensor heavily looks like a transposed version of it. Additionally, the comparison script differs for `lm_head`. So now I'm going to implement it and l

[2022-03-25 20:34] stefan-it commented on #198
On downstream task (I'm using the summarization example for T5), the original T5 small checkpoint yields:

[code]

whereas the T5x converted training shows:

[code]

(higher loss at the beginning)

[2022-03-25 21:28] stefan-it commented on #198
Hey @peregilk ,

after updating the conversion gist, the `lm_head` is now the same... and pre-training on downstream task shows the same loss as for the original T5 checkpoint:

[code]

This should hopefully solve all problems now :hugs:

[2022-03-26 21:17] peregilk commented on #198
@stefan-it Great work! I have now converted my first large mT5 model in T5X format to HuggingFace! [The model](https://huggingface.co/pere/multi-sentencefix-mt5-large) seem to be working perfectly after running your script, and then using the standard method for converting it to pyTorch and adding a tokenizer.

[2022-03-28 08:29] salayatana66 commented on #351
I am not completely convinced. So JVP vs VJP should be about push-forward vs pull-back, i.e. if we apply the Jacobian `J` on the left or right (tangent vs cotangent vectors). Numerical stability should be about getting the correct map `params, inputs -> J`. So  if numerical stability is a problem with VJP it would a problem with JVP too, right? To make things more concrete, let's look at the jacob

[2022-03-29 06:17] levskaya commented on #351
Sorry if I wasn't clear:

The situation is that we have a manually crafted VJP for the "cross-entropy + z-loss" loss function that we know from long experience is performant and stable for _training_ with the BF16 half-precision type that we frequently use.  That's why we hard-code the VJP this way.  We don't particularly want to mess around with trying to decompose this into separate JVP + Transp

[2022-04-01 04:03] nimasadri11 opened #408 "Using Custom Datasets"
I have a custom dataset that I want to use to train. To convert it to `tfds` I am using these instructions: [https://www.tensorflow.org/datasets/add_dataset](), but things don't work. Are there other instructions for generating the `tfds` that I should be following instead of the one mentioned above?

[2022-04-01 09:54] iislucas commented on #340
@adarob signal boost as this is blocking me and my PhD student @LeoLaugier, any ideas  :)

[2022-04-01 12:16] adarob commented on #408
Hi Nima. You don't actually need to create a TFDS dataset or even a SeqIO task. However, creating a SeqIO task is the easiest way to use T5X at this time. See https://github.com/google/seqio for instructions.

[2022-04-01 12:16] #408 closed

[2022-04-01 12:23] adarob commented on #340
To be clear, it looks like you get a segfault in one thread but then your training completes?

[2022-04-01 14:58] LeoLaugier commented on #340
I think there is a segfault in one thread, though the training freezes (in the other threads?) so it does not complete. (I haven't retried since the day I raised the issue). It looks like issue #366.

[2022-04-01 15:46] hwchung27 commented on #340
We have a new API using XManager, which manages the workers. So I think this can help resolving the issue. Could you try the instruction here: https://github.com/google-research/t5x#quickstart-recommended?

[2022-04-01 15:57] LeoLaugier commented on #340
Awesome, thanks for the pointer. I'll try that asap and let you know.

I guess XManager is compatible with prompt tuning right?

[2022-04-04 08:25] Namco0816 opened #410 "`num_partitions` does not work for GPU"
Hi thanks for the great work.
I were already carefully read the docs of the partitioning, but I am still confused about how it works and what did the partitioning rules means.
I tried to run the pertaining code on a single node with 8-A100 GPU. When I pretrain the T5 with the huggingface trainer and deepspeed Zero-2, it works well. However I tried to run the pretrain with the scripts provided in t

[2022-04-04 14:17] adarob commented on #410
Thanks for reporting this -- it looks like a GPU-specific bug in T5X. Can you try setting

[code]

[2022-04-04 14:17] adarob commented on #410
@jekbradbury as FYI

Also, I think your activation/parameter partitioning dims options will be no-ops since you're not using model parallelism.

[2022-04-04 19:24] nimasadri11 commented on #408
@adarob My `tfds` does not have "inputs" and "targets". My features are called something else (and I have 3 types of features in fact). How can I handle this case with t5x?

[2022-04-04 19:27] adarob commented on #408
Yes, this can be done in the seqio preprocessors.

[2022-04-05 20:46] iislucas commented on #340
correct, xmanager is an API about managing experiments, and there's no compatibility issue with prompt-tuning.

[2022-04-06 13:15] peregilk opened #415 "Outputting results from evaluation"
I am following the examples for running eval-only. I add the following example metric to the task-file:
[code]

The evaluation runs without any errors, and it is also writing the files ```config.gin``` and ```model-info-txt```to output-directory. However, there does not seem to be any other results. Are there other steps that needs to be performed here?

[2022-04-06 13:16] peregilk commented on #370
Since there now is a direct conversion-script from T5X to Transformers, this is no longer an issue. Closing.

[2022-04-06 13:16] #370 closed

[2022-04-07 04:10] Namco0816 commented on #410
Thanks for your reply!
I've modified the code with:
partitioning.PjitPartitioner:
[code]
However I still get the error:

[code]

I am also very confused about the partition rules in the partitioning.py. I've noticed that the `get_gpu_mesh` will return the mesh for gpu. This function will return a (1, 8) mesh for my 8 A100 GPUs machine. The first dimension 1 represents the host_num and second dimen

[2022-04-08 10:44] versae opened #421 "Dataset seeking for restarting from a crash run"
I wrote some hacky support for HuggingFace datasets using `seqio.FunctionDataSource`, specifically for pretraining and finetuning pretrained models.

[code]

But unfortunately, as I face constant random crashes during training (#366), I need a way to seek to the right dataset batch to properly continue training.

I see there's a `continue_from_last_checkpoint` variable in [`get_dataset()`](https:/

[2022-04-09 02:51] nimasadri11 opened #425 "Getting Logits of Tokens"
In inference, I want to get the logit over vocabulary for the first generated token. How can I do that?

[2022-04-11 09:22] salayatana66 commented on #351
Thanks, I'll factor this out how you suggested.

[2022-04-11 09:22] #351 closed

[2022-04-12 02:05] adarob commented on #421
Please reopen at https://github.com/google/seqio for proper triage.

The short answer is that someone would need to implement a specific DatasetProvider for hfds, which shouldn't be too hard.

You could also run the offline caching job to create tfrecords capable of being recovered on crash.

[2022-04-12 02:05] #421 closed

[2022-04-12 23:20] nimasadri11 commented on #425
@adarob  @hwchung27 @hthu @jacobaustin123 Any help on this would be appreciated : )

[2022-04-18 14:29] versae opened #436 "Incompatibility with jaxlib 0.3.7"
The newest version of jax seems to require jaxlib v0.3.7, which breaks the trainer script:
[code]
Forcing the install of `"jax[tpu]<0.3.7"` works for now.
[code]

[2022-04-21 07:08] peregilk commented on #340
I am struggling with the same issues here. Any other way around this than to use XManager?

[2022-04-21 07:08] #415 closed

[2022-04-21 07:46] peregilk commented on #366
@adarob
I am seeing this error quite a lot. I also noticed this part in the stacktrace:
[code]

A wild guess is that this is related to asyncio. I noticed a TODO-comment in the code around where the error occures saying [" # TODO(adarob): Use asyncio.run in py3.7+."](https://github.com/google-research/t5x/blob/df1ee3f3d5fd63ad0959e110cdfa46383356c99b/t5x/checkpoints.py#L165).

I am using py3.8. Co

[2022-04-21 16:15] misawann commented on #366
I had the same issue but have solved it by downgrading tensorstore from 0.1.18 (the default version) to 0.1.14 as mentioned in [this issue].(https://github.com/google/tensorstore/issues/30#issuecomment-1095653828)

[2022-04-22 12:38] jbms commented on #366
This may well be the same issue as https://github.com/google/tensorstore/issues/30.

If we are able to reproduce this issue somewhat reliably that would greatly help in resolving it.

@misawann @peregilk @dptam If this occurs often, can you clarify what makes it most likely to trigger, or ideally describe how to reproduce it?

[2022-04-22 17:45] peregilk commented on #366
Thanks @misawann!! I did a simple "pip install tensorstore==0.1.14", and all my three TPU/pods have been running without any issues after this!! I really think this has fixed it!

@jbms. I have been seeing this both on single TPUs (v3 and v4) and on v4 pods. I have most experience with running on the v4s. Here I have a fairly standard setup using the v2-alpha-tpuv4 and the v2-alpha-tpuv4-pod image

[2022-04-22 18:15] jbms commented on #366
Thanks --- I was able to get an example from another users that reproduces the problem, so I will look into it.

[2022-04-24 00:04] ibulu opened #446 "Error loading model from checkpoint on Apple M1"
I am trying to load longT5 model from checkpoint and getting the following error. Any help is much appreciated.

`
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
Input In [9], in <cell line: 1>()
----> 1 t5x_checkpoint = t5x.checkpoints.load_t5x_checkpoint(checkpoint_dir)

File ~/t5x/t5x/checkp

[2022-04-24 05:19] felixzli opened #447 "`[OS error: Too many open files]` when saving checkpoint of model with 48 encoder layers and 48 decoder layers"
Hello,
I tried to train a model with `num_encoder_layers = 48` and `num_decoder_layers = 48`. I got the following error:

[code]

Thanks for any help.

[2022-04-24 15:18] adarob commented on #447
Can you try setting `ulimit -n 1200` or an even larger number?

[2022-04-24 15:23] adarob commented on #446
Is this in a notebook?

[2022-04-24 15:24] ibulu commented on #446
Yes.

[2022-04-24 15:27] adarob commented on #446
See https://medium.com/@vyshali.enukonda/how-to-get-around-runtimeerror-this-event-loop-is-already-running-3f26f67e762e

[2022-04-24 15:27] #446 closed

[2022-04-25 00:09] ibulu commented on #446
Awesome! that worked. I am now running into the following issue:

'''
ValueError                                Traceback (most recent call last)
Input In [5], in <cell line: 1>()
----> 1 t5x_checkpoint = t5x.checkpoints.load_t5x_checkpoint(checkpoint_dir)

File ~/t5x/t5x/checkpoints.py:1594, in load_t5x_checkpoint(path, step, state_transformation_fns, remap, restore_dtype, lazy_parameters)
   159

[2022-04-25 00:17] adarob commented on #446
Are you sure that file exists?

[2022-04-25 00:38] ibulu commented on #446
yep. the directory and files exists. I am not very familiar with TensorStore library...I think that's being used...is there a quick test you can suggest that'd help isolate the issue?

[2022-04-25 00:44] ibulu commented on #446
giving the full path instead of relative path solved the issue!

[2022-04-26 05:24] Monalisa98927 commented on #446
What version of Tensorstore did you use? I met a similar problem when saving the checkpoint. My Tensorstore is 0.1.19.

At the beginning, I used the relative path and got the same error as you mentioned above. Then I changed the path to the absolute path and this issue was solved. But a new issue occurred.

This error occurred when I ended training for 100 steps and saved the checkpoint to the abs

[2022-04-26 05:51] Monalisa98927 opened #452 "Error when saving the checkpoint"
Hi! I met an issue when saving the checkpoint. I also commented my issue below #446

This issue occurred when I ended training for 100 steps and saved the checkpoint to the absolute path '/gpfsnyu/scratch/kf2395/jukemir_t5/pretrain/'

My Tensorstore is 0.1.19.

As [this solution](https://github.com/google-research/t5x/issues/446#issuecomment-1107954777) mentioned, the relative path may cause some

[2022-04-26 13:30] adarob commented on #452
@jbms would you mind taking a look at this?

[2022-04-27 00:53] felixzli commented on #447
Thank you, this worked.

[2022-04-27 00:53] #447 closed

[2022-04-27 02:22] jbms commented on #340
This appears to be the same issue as https://github.com/google/tensorstore/issues/30 for which we will have a fix pushed out in the next day or so.

[2022-04-27 13:49] Monalisa98927 commented on #452
Thank you for your kindly reply. I'm checking this with the administrator and still waiting for the reply. By the way, I found that the filenames involved in the error message are different in each training, I'm not sure if this helps to find the cause of the problem...

The bolded file paths in the following error message below are different each time.

ValueError: Error opening "zarr" driver: Er

[2022-04-27 17:26] jbms commented on #452
What is the Linux kernel version of the machine you are using?  You can determine that by running the `uname -a` command.

TensorStore uses the "open file descriptor locks" API, which was added in Linux kernel version 3.15 (released June 2014).

If you have an older kernel than that, it would explain the error --- and it may be that your cluster filesystem does support locking after all.

Presumab

[2022-04-27 17:37] Monalisa98927 commented on #452
Thanks a lot! The following is the information I got through running `uname -a`

`Linux login2 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

So do you have any suggestions if I want to successfully train a t5x model on this machine?

[2022-04-27 18:51] jbms commented on #452
Easiest thing would be to upgrade the kernel, but I imagine that isn't going to happen, though you could always check with the cluster administrator.  Is there a different cluster with a newer kernel that you could use instead?

Unfortunately there is no option at the moment to disable locking or use a different lock strategy, so some patching of the tensorstore code will be required.

To clarify,

[2022-04-27 18:53] laramiel commented on #452
Based on the filename, I assume that this is using GPFS on a NYU high-performance cluster.  GPFS does, I believe, support posix locks.  I don't know if it has a separate api/library from the os-provided filesystem.

You could see if there's cloud storage option available for use.

[2022-04-27 19:23] jbms commented on #340
This should now be fixed in tensorstore 0.1.20

[2022-04-28 01:07] Monalisa98927 commented on #452
The model is trained using a single machine. Thanks for the suggestions!

[2022-04-28 03:49] jbms commented on #452
You can workaround this issue by checking out this repository:

[code]

Then changing the following 2 lines:

https://github.com/google/tensorstore/blob/fe7aae44a788dbdfc731ea1c00b83f0d51e4f2f4/tensorstore/kvstore/file/posix_file_util.cc#L66
https://github.com/google/tensorstore/blob/fe7aae44a788dbdfc731ea1c00b83f0d51e4f2f4/tensorstore/kvstore/file/posix_file_util.cc#L90

to

[code]

in order to f

[2022-04-28 03:55] jbms commented on #452
Note: Building TensorStore requires GCC version 9 or newer.  If your cluster only has an old version of GCC, you can instead build wheel packages for all supported Python versions using docker on another Linux machine as follows:

[code]

That will write the wheels to the `dist/` directory.  You can copy the package for the version of Python you are using to your cluster machine and install it the

[2022-04-28 12:20] Monalisa98927 commented on #452
Thanks for your suggestion! I tried to use Google Cloud Storage but still met some problems...
The bucket I created is called `jukemir-t5` and I tried to save my checkpoints at `gs://jukemir-t5/pretrain-model/pre/`
I put the following environment variables in `~/.bashrc` file.

`export TENSORSTORE_GCS_HTTP_URL='https://storage.googleapis.com/jukemir-t5/'`
`export GOOGLE_APPLICATION_CREDENTIALS='/g

[2022-04-28 18:24] jbms commented on #452
You don't need to set `TENSORSTORE_GCS_HTTP_URL` --- that is only for special cases if you don't want to use the normal GCS server.

The error messages shown are from tensorflow, not tensorstore --- t5x uses the tensorflow filesystem API for some purposes.  I don't know what the problem may be there, although it appears that there may be a DNS resolution problem.

[2022-04-29 03:58] Monalisa98927 commented on #452
Thanks for your kindly help! I read through [Cloud Storage authentication](https://cloud.google.com/storage/docs/authentication#oauth) documentations but still feel confused. I try to run the following commands to get the token but I'm not sure if this is exactly what I need...

`gcloud auth activate-service-account --key-file KEY_FILE`
`gcloud auth print-access-token`

My question is:
 a) Did I g

[2022-04-29 09:53] Monalisa98927 commented on #452
In order to simplify this issue, I did a small experiment to reproduce the error. First I run `sbatch test_error.sh`

Here is the code of `test_error.sh`

[code]

And the error message in `myjob.e` is as follows, which is the same as the issue I posted before...(I think the UserWarning about cloud_tpu_init has nothing to do with this issue so maybe we can ignore it here...)

[code]

An interesting

[2022-04-29 15:42] Monalisa98927 commented on #452
Here is another experiment I do to prove the source of this issue... I run `tf.io.gfile.listdir("gs://jukemir-t5/pretrain-model/")` in the virtual machine locally (host name: `login2`) and submit this code to the `aquila` host respectively to compare the results.

This is the result of running in virtual machine locally (host name: `login2`)

[code]

The above proves that the `gs://jukemir-t5/pret

[2022-04-29 20:54] ibulu commented on #410
I think I am getting a related error when trying to fine-tune longT5 model on CPU:

ValueError: Failed to map logical axes for target/decoder/logits_dense/kernel
  In call to configurable 'train' (<function train at 0x17a77b940>)

[2022-04-30 03:05] ibulu commented on #446
I am using version 0.1.18

[2022-04-30 16:57] jbms commented on #452
`.bashrc` is only evaluated for interactive shell sessions.  You need to arrange for the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to be set when running as a batch job.

[2022-04-30 18:42] Monalisa98927 commented on #452
I added `#SBATCH --export=ALL` but it still didn't work...

[2022-05-04 00:26] jbms commented on #366
This is now fixed in tensorstore 0.1.20

[2022-05-04 18:38] #366 closed

[2022-05-06 19:01] sudhakarsingh27 commented on #410
#### TLDR;
@adarob For data+model parallelism on GPUs, is `model_parallel_submesh=(1,1,1,<#GPU for model parallelism>)` is the way to go for a single node multi-gpu case (seems to be suggested by [this line in the code](https://github.com/google-research/t5x/blob/feb97e77e885ec35a185d9a35d9a028384c7bbe1/t5x/partitioning.py#L270) as well)?
Thanks!

---
#### More context:

I'm working with this conf

[2022-05-07 00:25] sudhakarsingh27 commented on #410
Also, as @Namco0816 pointed out, with using `data parallelism only`, the GPU mesh returned is
[code]
which is of dim `[1,8]` and maps to `('data','model')` axes and so there's effectively no data parallelism even when [data only parallelism](https://github.com/google-research/t5x/blob/6b4cf7c7d9de80135bce14787dd1616653c99eae/t5x/partitioning.py#L286) is selected. I think [this function](https://gi

[2022-05-09 00:35] zarandioon commented on #89
Any update?

[2022-05-09 15:39] adarob commented on #89
Merging with #410

[2022-05-09 15:39] #89 closed

[2022-05-12 03:46] GallagherCommaJack opened #537 "Provide an interactive class for mixing training and inference."
There's a lot of instructions here about how I could train/fine-tune t5 itself directly on natural language tasks and datasets, but I'm interested in training another model which would take t5 embeds of language as an input.

In order to do this, I would need to interleave t5 inference with my training script, which means I need a way to run t5 on a single batch not just on an entire dataset. How

[2022-05-12 10:24] adarob commented on #537
@kkenealy is working on an `InteractiveModel` class that will make this easier to do along with a Colab demo.
In the meantime, you should take a look at the `Model` class interface, which provides a `predict_batch` method for inference and the `Trainer` class, which provides a `train` method that supports single-batch training.

[2022-05-22 20:45] StephennFernandes opened #557 "How to log in wandb ?"
Hey there, i see that tensorboard is the primary logging mechanism here. Perhaps if i wanted to log all the metrics that tensorboard is logging into wandb, how should I do that ?

[2022-05-23 13:58] adarob commented on #557
You would just need to define a `clu.Metric.MetricWriter` for wandb. It looks like right now you'd have to then hack that into `t5x.trainer.MetricsManager` to actually use it. However, we could make it so you can pass in a different set of `MetricWriters` via gin.

[2022-05-23 14:09] StephennFernandes commented on #557
@adarob thanks for replying. This sounds great! , however wandb has a way to absorb the tensorboard logger if it points correctly to it the runner/log file. In the T5X dir structure where would the  tensorboard file be ? also, does T5X pre-training script start logging to tensorboard by default or  do we need to set it ?

[2022-05-23 14:18] #557 closed

[2022-05-25 02:39] mdnestor opened #566 "Installing dependencies leads to excessive tf-nightly installation"
The following chunk leads to excessive installation time disk space consumption in Google Colab (more than usual). It appears to be the cause of [issue 46](https://github.com/magenta/mt3/issues/46) from Magenta's [MT3 repo](https://github.com/magenta/mt3).
[code]
Output (manually aborted after a few hours):
[code]

[2022-05-25 15:20] ibulu opened #569 "how to use a different optimizer?"
There is an excellent example about how to use a different optimizer for a model trained from scratch. But, I am getting an error if I want to use a different optimizer for fine-tuning.

[2022-05-26 01:01] honosayaka commented on #436
the same problem happened in optax 0.1.2

[2022-06-01 13:40] ibulu opened #580 "RuntimeError: UNIMPLEMENTED: Requested AllReduceStart not implemented on GPU"
I am trying to run one of the fine-tuning examples on a machine with 2 GPUs and getting the following error:

RuntimeError: UNIMPLEMENTED: Requested AllReduceStart not implemented on GPU; replica_count: 1; partition_count: 2, group_mode: kCrossReplicaAndPartition, operand_count: 49; NCCL support: 1; first operand array element-type: BF16
  In call to configurable 'train' (<function train at 0x7fed

[2022-06-01 16:54] kkenealy commented on #537
Given an instance of the Model class, you can load a checkpoint using a CheckpointConfig; see these lines for an example: https://github.com/google-research/t5x/blob/999fccbfda10c107de7e4c071c976999621d8a79/t5x/train.py#L268

[2022-06-01 17:54] ibulu commented on #580
looks like this error has smth to do with partitioning. Not sure why setting num_partitions didn't work. It'd be good to have some examples for (multi-host) multi-gpu settings.
Following fixed it, just in case anyone else experience this issue:

partitioning.PjitPartitioner:
  num_partitions = None
  model_parallel_submesh = (1,1,1,2)

partitioning.PjitPartitioner.logical_axis_rules = [
    ('batc

[2022-06-01 20:24] ibulu commented on #452
suggestion to use /tmp folder as model_dir fixes this issue... at least for Azure VMs.

[2022-06-01 20:51] jbms commented on #452
What is the filesystem you are using on the azure vms?

[2022-06-01 21:25] ibulu commented on #452
I believe it is ext4

[2022-06-02 00:55] laramiel commented on #452
It could be that the gcs filesystem is not installed in tensorflow. I don't know how that would happen, but see:

https://pypi.org/project/tensorflow-io-gcs-filesystem/

[2022-06-02 11:57] jbms commented on #452
Oh yes, sorry I misunderstood.  I thought you were referring to the locking-related error.

[2022-06-02 19:26] Monalisa98927 commented on #452
I tried both /dev/shm and /tmp folders to save checkpoints but still met the locking related error...

[2022-06-02 21:14] jbms commented on #452
@Monalisa98927 With your kernel version it is a kernel limitation, so it won't make any difference what local filesystem you use.

[2022-06-03 02:17] ibulu commented on #452
it is a Standard_NC12s_v3 instance that I created through Azure ML Studio. Here is all the info I could find:

Operating System: Ubuntu 18.04.6 LTS
            Kernel: Linux 5.4.0-1077-azure
           Architecture: x86-64

[2022-06-16 15:29] StephennFernandes opened #609 "how to decide on how many steps to train the model given a custom dataset."
I have been pretraining a T5_1_1 base model locally on GPUs. i have currently reduced the batch_size from 256 to 64 to support training on my GPUs. However i needed some advice on how to decide on how many steps should i train my model, given that i am training on a custom dataset and i have reduced the batch_size.

currently after going through the documentation, i am using the default 1000000 st

[2022-06-20 19:24] leiterenato opened #617 "FAIL to run "Example: English to German translation" from README file"
Compute environment:
 - Google Cloud TPU VM (base image)
 - 1 x TPU V3-8
 - Default installation, according to README file

Storage:
 - I tried both with local disks (from TPU VM) and on Google Cloud Storage

Running this example, as described in the README file, I got the following error:
[code]

I checked the .gin file and the variables seems to be set correctly.
Any idea what could be generatin

[2022-06-21 20:10] StephennFernandes commented on #609
Getting pinging @adarob, could you please help me out on this.

[2022-06-24 00:47] leiterenato opened #629 "Fail to run pretrain from sample code"
Following this sample code:
https://github.com/google-research/t5x/blob/main/docs/usage/pretrain.md

I got this error:
ValueError: The version of the dataset you are trying to use (c4/en/2.2.0) is too old for this version of TFDS so cannot be generated.Either sync to a previous version of TFDS to first prepare the data or use another version of the dataset. Available for `download_and_prepare`: ['

[2022-06-28 17:02] abhinavgoel95 opened #637 "Data pre-processing"
Is there any data pre-processing that is called after `batch = next(batch_iter)` on line 490 of `trainer.py` ?

[2022-06-28 17:07] abhinavgoel95 opened #638 "How does Partitioning Work?"
I am working with Data Parallelism on t5x. When the `train_step()` function is pjit-ted by the following code stub in `partitioning.py`, is this similar to [DistributedDataParallel in PyTorch](https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html) or is it similar to DataParallel (with a single thread)?
[code]

[2022-06-30 06:06] zzy14 opened #644 "Missing .zarray files for MoE checkpoints"
Hi, I found that the `.zarray` files are missed for Switch Transformer in Google Cloud Storage, which makes the checkpoint loading fail.

[2022-07-04 13:22] leiterenato commented on #617
Hi @rjagerman
Thanks for the reply.
I manage to make this work by uninstalling the current version and installing `seqio-nightly`.
Closing this issue as this solved my problem.
Thank you again

[2022-07-04 13:22] #617 closed

[2022-07-05 17:26] abhinavgoel95 commented on #569
Any ideas on how this can be done? I am looking for the same thing.

[2022-07-06 14:03] adarob commented on #637
No

[2022-07-06 14:38] adarob commented on #410
Fixed by #643

[2022-07-06 14:38] #410 closed

[2022-07-06 15:07] adarob commented on #580
Fixed by #643

[2022-07-06 15:07] #580 closed

[2022-07-07 21:59] adarob commented on #644
Fixed

[2022-07-07 21:59] #644 closed

[2022-07-22 18:12] nconstant-google commented on #164
ByT5 T5X checkpoints are now released:

https://github.com/google-research/t5x/blob/main/docs/models.md#byt5-checkpoints

[2022-07-25 07:45] tai-dang11 commented on #214
Hi Leo,

I tried to run your colab, but I ran into this error when I tried to run train.py

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
[/content/t5x/t5x/train.py](https://wxlr2tebez-496ff2e9c6d22116-0-colab.googleusercontent.com/outputframe.html?vrz=colab-20220721-060048-RC00_462350521#) in

[2022-07-25 08:25] LeoLaugier commented on #214
Hi Tai,

It seemed to work at that time. My guess is that some package has been updated since then and broke something in the Colab notebook.

Maybe try to install an older version of T5x? (from around Feb, 2nd 2022?)

[2022-08-03 05:08] StephennFernandes opened #695 "TypeError: get_dataset() got an unexpected keyword argument 'trim_output_features'"
Hey the current release has issues when pretraining or finetuning. I actully had a custom task to pretrain. upon launching the training i get the error `TypeError: get_dataset() got an unexpected keyword argument 'trim_output_features'`

Hence i tried the simple wmt finetuning task from the documentation. even that tasks faces the same error

the following is detailed error:

[code]

upon removing

[2022-08-03 06:21] jarokaz opened #696 "Request for more robust release management"
Would be possible to introduce even the most basic release management like tagging?

Some commits and rollbacks, like the recent rollback of 'Enable GDA by default in T5X training and checkpointing' introduce breaking changes.

[2022-08-03 16:11] leiterenato commented on #696
+1

[2022-08-04 21:23] StephennFernandes commented on #695
@adarob could you please help me out on this issue

[2022-08-05 18:29] hwchung27 commented on #695
I think your seqio version is out of date. There was a recent change that added `trim_output_features` (https://github.com/google/seqio/blob/90c76914ed13fcce53f00966b824e45fb266b973/seqio/dataset_providers.py#L1123).

Can you update the seqio and rerun?

[2022-08-05 18:34] hwchung27 commented on #569
I think you can reset the optimizer states and initialize them. You can use the configs here: https://github.com/google-research/t5x/blob/0183fb0931fc44c7b974ea1e7f973cb5b2a7203a/t5x/utils.py#L164-L169

Use assignment map to reset the param states `(.*param_states.*, None)` and set fall back to True.

[2022-08-08 18:53] abhinavgoel95 opened #705 "Why is one_hot=True in network.py"
Hello,

I am confused as to why one_hot=True in <https://github.com/google-research/t5x/blob/main/t5x/examples/t5/network.py#L290>

From my understanding, this should increase the size of the matrix multiplication and reduce efficiency. Is this not correct?

[2022-08-10 21:14] lersouza opened #707 "Using Gradient Accumulation"
Hey guys!

I am about to pretrain a monolingual model using T5X (thank you for this!).

The routine I'll be following is based on ByT5 paper. However, I currently have access to a smaller TPU (v3-8 core), so 2<sup>20</sup> would not fit into its memory. To accomplish similar results, I am thinking of using gradient accumulation, so I can emulate the same batch size used for pertaining the original

[2022-08-17 08:54] StephennFernandes commented on #695
@hwchung27 yeah on updating the seqio the error was cleared. however upon running the training script locally on 2 x A6000 GPU. intially jax takes too long to compile and only one gpu get completely full while the other remains empty. and they the program crashes.

[2022-08-18 02:00] akku779 opened #717 "Import error with flax.optim"
I'm trying to train T5X on the Winograd schema challenge. I run the training script as instructed on the tutorial but receive this error.

`ImportError: cannot import name 'optim' from 'flax' (/home/[name]/.local/lib/python3.8/site-packages/flax/__init__.py)
`

[2022-08-19 07:46] BioGeek commented on #717
You have installed [flax 0.6.0 which removed `flax.optim`](https://github.com/google/flax/commit/cda7a4c85bbce744e412ab82e298ddf76d4770d2).

[This pull  request](https://github.com/google-research/t5x/pull/716) removed `flax.optim` from the T5X codebase.

So either downgrade `flax` to version 0.5.3 or upgrade T5X.

[2022-08-20 04:50] akku779 commented on #717
@BioGeek
Thanks for the solution. I am now receiving a new error. Any idea what the issue is now?

`I0820 04:45:32.290065 139785436871744 xla_bridge.py:345] Unable to initialize backend 'tpu_driver': NOT_FOUND: Unable to find driver in registry given worker:
I0820 04:45:32.290236 139785436871744 xla_bridge.py:345] Unable to initialize backend 'cuda': module 'jaxlib.xla_extension' has no attribute

[2022-08-20 21:54] #717 closed

[2022-08-20 22:04] akku779 opened #720 "Finetuning model aborts"
I am finetuning T5x on the Winograd schema challenge according to the directions on the tutorial page. When I run my fine-tuning script, the model produced the error below:

[code]

Expected Output:
The model fine tunes without aborting.

[2022-08-22 06:18] StephennFernandes commented on #695
@hwchung27 i am pretraining sentencepiece tokenizer because the mt5 model i plan to pretrain contains languages with language_scripts that the mt5 model doesnt cover.

However, ive noticed that all t5 model use/reserve 100 ids/vocabs. Hence when training the sentencepiece tokenizers should i also train them with +100 tokens ?

i mean given mt5 has vocab of 250000 --> so should i train for 250100 ?

[2022-08-22 07:24] hwchung27 commented on #695
Nope you don't need to add extra ids. The `seqio.SentencePieceVocabulary` does the "surgery" for you: https://github.com/google/seqio/blob/71e47acd6fd38d0cb1b89ce112df56f37e054f2c/seqio/vocabularies.py#L304-L321

[2022-08-22 07:37] StephennFernandes commented on #695
Thanks a ton for replying.

If you don't mind, could you also please elaborate on why and what's the purpose of adding +100 ids in t5 ?

[2022-08-23 03:50] #720 closed

[2022-08-23 14:16] StephennFernandes commented on #695
@hwchung27

i am using my own tokenizer for the pretraining task:

however, when i add `extra_ids=100`  to the `seqio.SentencePieceVocabulary()` then i get the error:

[code]

note: i have changed the default tokenizer to my own tokenizer in the `base.gin` file

however upon changing the extra_ids=0 this error resolved but i get this error:

`ValueError: None values not supported.`

the following

[2022-08-23 14:28] StephennFernandes commented on #236
@ChaosCodes hey were you able to run the code while all the GPUs are being used ?

on my GPU server the model is running only on the 1st GPU

[2022-08-24 09:51] StephennFernandes commented on #695
@hwchung27 Just an update on the same.

I use the default mt5 tokenizer `gs://t5-data/vocabs/mc4.250000.100extra/sentencepiece.model` witrh `extra_ids=0` and i stil get the same error.

**The following is the entire stack track of the same:**

[code]

[2022-08-25 09:52] StephennFernandes opened #728 "ValueError: None values not supported"
upon running a seqio mixture on mT5 and ByT5 i get and error stating:  `ValueError: None values not supported`

I currently am using a seqio mixture that i define in my task.py file and use the default mt5 tokenizer `gs://t5-data/vocabs/mc4.250000.100extra/sentencepiece.model` with `extra_ids=0`

**This is how my task.py file looks**
[code]
**i use the `ciil_mix_3` mixture in my .gin file**
this i

[2022-08-26 14:25] StephennFernandes commented on #695
#728

[2022-08-27 15:07] StephennFernandes commented on #728
@hwchung27 could you please help me out here

[2022-08-28 12:57] StephennFernandes commented on #728
@hwchung27 do you think this is occurring because maybe some of my samples are very short so the span corruption is masking the entire sentence ?

or is it a case where my samples have a blank line in them ?

[2022-08-29 09:31] StephennFernandes commented on #728
@craffel @adarob hey guys, sorry to bother you on your busy schedule. but please could you tell me what could be the cause for this error ?

I inititally thought this error could be because my dataset has blank line samples or perhaps have samples that have only 5-6 words that the span curruption task couldn't cover. But even after filtering my dataset for keeping sentences only above 10 words. i

[2022-08-29 14:12] adarob commented on #728
I don't have time to go through your code but this appears to be saying the value of 'input' is `None`. I would suggest running the steps of the pipeline before tokenize in a notebook (e.g., Colab) and see if your features look as you expect.

Closing this since it's not an actual T5X bug. Feel free to reopen a Discussion topic to solicit help in debugging your issue.

[2022-08-29 14:12] #728 closed

[2022-08-30 14:28] rpeloff opened #741 "SeqIO evaluation hangs on final batch when dataset is padded"
Hi all,

During SeqIO inference evaluation, the data pipeline is hanging for a long period of time on the final batch of data **only when the dataset is padded**. Sometimes for hours depending on the dataset size. This relates to these [lines of code](https://github.com/google-research/t5x/blob/7a10c1ff5d2ef5714c3b4d32192e5ee6b843d56f/t5x/utils.py#L1126-L1146).

This is not an issue when the datas

[2022-09-05 02:22] nawnoes commented on #629
I got same error too

[2022-09-07 16:13] tbaker2 opened #754 "Links in docs/usage/infer.md are incorrect."
The links in docs/usage/infer.md are incorrect. They should have the postfix '.md'.

[2022-09-15 16:25] StephennFernandes commented on #728
raised a discussion [here](https://github.com/google-research/t5x/discussions/772) @adarob @hwchung27 would really mean a lot if you could help me out on it

[2022-09-23 21:13] peregilk opened #799 "Error after update in train.py"
@adarob @t5-copybara

I have started getting this error:
'''
 File "../../t5x/t5x/train.py", line 254, in train
    train_iter = clu.data.TfDatasetIterator(train_iter, checkpoint=True)
TypeError: __init__() got an unexpected keyword argument 'checkpoint'
'''

I noticed this line was updated yesterday.

[2022-09-24 04:56] elmadany commented on #799
@peregilk I'm facing the same issue. Did you solve it?

[2022-09-25 03:43] Saisimon commented on #799
[code]
I resolved this error using the above command.

[2022-09-25 18:09] #799 closed

[2022-10-12 16:20] lintangsutawika opened #832 "How to run t5x on multi-node GPUs?"
I'm exploring how to use t5x in a multi-node GPU setting. I'm using SLURM with a singularity container to execute the training script.

[code]

But this doesn't seem to work.
[code]

Another method I tried is try to launch two process with hard-coded `process_index` (I did this in an interactive shell)
[code]

process_index 1 seems to working as intended
[code]
but process_index 0 fails.
[code]

[2022-10-12 17:21] sudhakarsingh27 commented on #832
Looks like the `coordinator address` isn't set properly.

[code]

[2022-10-12 18:04] lintangsutawika commented on #832
Yeah, looks like `SLURM_LAUNCH_NODE_IPADDR` isn't the machine's actual address. I tested with `"127.0.0.1:29500"` as the coordinator_address and running this actually doesn't stop at segmentation fault
[code]

However, now I see that the script only detects 1 GPU per process? Also, a new error.
[code]

[2022-10-12 20:53] sudhakarsingh27 commented on #832
Could you append `NCCL_DEBUG=INFO` before the python command and run that, that'd let us see some debug info from NCCL

[2022-10-12 20:57] sudhakarsingh27 commented on #832
That's because recently, `jax.distributed.initialize` was modified to run [1 GPU per process as the default setting](https://jax.readthedocs.io/en/latest/multi_process.html#initializing-the-cluster). To let the process see all the GPUs in the node, you could pass an additional argument `local_device_ids=list(range(num_gpus)]` to `jax.distributed.initialize`.

[2022-10-13 04:20] lintangsutawika commented on #832
Looks like it's an `out of memory` issue? I reduced the batch size with size of 1 but the problem still persists.

[code]

[2022-10-13 04:33] sudhakarsingh27 commented on #832
Ack. This looks like a familiar issue. Could you try a few WAR meanwhile we figure out a fix for this:
1. Add the following code to your `t5x/train.py` file:
[code]
2. If 1.) doesn't work, try reducing the memory required by JAX using `XLA_PYTHON_CLIENT_MEM_FRACTION=.XX` with a value less than `0.9` (which is default).

Btw, which GPU are you running T5x on?

[2022-10-13 05:27] lintangsutawika commented on #832
I'm using A100 (40GB). Added 1, but error still persists. Step 2 seems to alleviate the previous issue but is stopped at a new error.

[code]

[2022-10-13 07:35] sudhakarsingh27 commented on #832
To confirm, you're still running 2 processes on 2 nodes with `ntasks-per-node=1` and without any `local_device_ids` argument to `jax.distributed.initialize`?

Btw, this error is new! Could you share the gin config that you're using? It'd help me repro this on my end.

Next quick check - could you run the code with `nodes=1` and `ntasks-per-node=8` (let's see multiprocess behaviour on a single node

[2022-10-13 08:47] lintangsutawika commented on #832
The new error seems to be a matter of running the different process on the same set of GPUs.

Running this works (two processed on the same node, but different set of GPUs). So the issue is likely as you said, on my side on how to properly assign each process to the correct node.
[code]

[2022-10-13 12:39] lintangsutawika commented on #832
Closing this as the jax-related issue seems solved for now.

Thanks [sudhakarsingh27](https://github.com/sudhakarsingh27)

[2022-10-14 09:52] sudhakarsingh27 commented on #832
I'd like to point out that although this worked with adding `CUDA_VISIBLE_DEVICES`, that's not a recommended way now, given that `jax.distributed.initialize` provides an argument to specify the GPU using `local_devices_ids`. (It'd be great if you could confirm that your code works with the recommended way as well.

[2022-10-15 18:45] lintangsutawika commented on #832
I can confirm. I experimented on splitting 1 node of 8 GPUs to 2 process with 4 GPUs each using the method you mention.
The issue was on the SLURM side.

However, I found a related issue where it seems the more nodes I use, the slower the throughput is.

I've tested running on nodes of 2,4, and 8 (each node has 8 A100s). I also varied the number of process (I made it so that increasing num of proc

[2022-10-15 19:42] AranKomat commented on #832
Hi. I'm working with Lintang on this issue.

The real problem isn't that it slows down when we increase the number of nodes while fixing the total number of GPUs, since this is likely due to the slow gradient aggregation of GPUs, which is common. It is that significant slowdown occurs when we run with singularity and two nodes with 16 A100s in total compared with when we run without singularity an

[2022-10-17 19:55] sudhakarsingh27 commented on #832
Hi, A few clarifying questions:
1. Are you running 1 GPU per process in both cases (i.e. for 2 nodes/16 GPUs and 1 node/8 GPUs)?
2. Is this metric (`steps/s`) consistent across runs?
3. How often is this metric logged (e.g. after X iterations)?
4. Could you also share `seqs_per_second` and `seqs_per_second_per_core`?
5. Are you also using model-parallelism (basically, `num_partitions>1`)?
6. Could

[2022-10-18 04:52] lintangsutawika commented on #832
Sure thing.
1. I made it so it maximizes the number of GPUs per process. for example, 2Nodes with 2 process has 8 GPUs per process while 2 Nodes with 4 process has 4 GPUs per process. Each GPUs/process is color coded.
2. The number seem to be consistent if the number of process matches the number of nodes and all 8 GPUs per nodes are used. There is higher variations when number of variations incre

[2022-10-18 15:48] RajeshThallam opened #845 "Noticing issues with changes done for `compute_clu_metrics`"
The recent commit that introduced [`compute_clu_metrics`](https://github.com/google-research/t5x/commit/3504fbab04173f50b31e2dbb997d96565bead8fa#diff-26323af6002ea68951993845d2bd068dff899680e55a3400b6838a97777eed88L470) is breaking the training workflow. The `evaluator.evaluate` functions returns 3 values and the new change captures only two.

This raises ValueError - `ValueError: too many values

[2022-10-18 20:24] RajeshThallam commented on #845
The issue was due to seqio package not being update. After updating seqio, the issue if fixed.
Thanks @KEHANG for notifying SeqIO recently changed evaluator API to return 2 values.

[2022-10-18 20:24] #845 closed

[2022-10-20 22:57] levskaya opened #851 "Missing test coverage for T5X against SeqIO"
The PR #847

should not have been able to pass tests, as it is broken when testing against current `seqio-nightly==0.0.11.dev20221020` with an error like:

[code]

We've temporarily pinned t5x setup.py to install seqio at HEAD, but this indicates some missing test coverage - ideally the default install of t5x works with the seqio version it installs, whatever that is.

[2022-10-20 22:58] adarob commented on #851
Installing SeqIO from head in #850

[2022-10-23 08:20] Sarimuko opened #864 "T5x fine-tuning on GPU"
Hi,

I am trying to run t5x fine-tuning on a GPU A6000 server. I followed the instructions I found and failed with this error on both two nodes:
`
2022-10-23 01:07:26.771566: E external/org_tensorflow/tensorflow/compiler/xla/pjrt/pjrt_stream_executor_client.cc:2153] Ex
ecution of replica 1 failed: INTERNAL: external/org_tensorflow/tensorflow/compiler/xla/service/gpu/nccl_all_reduce_thunk.c
c:70: N

[2022-10-23 20:27] Sarimuko commented on #864
This problem is solved by updating cudnn version to 8.2. But I encountered another error when saving the first checkpoint to google cloud storage:

`  File "/nfs/data/yihan/token/t5x/t5x/checkpoints.py", line 738, in save
    subprocess.run(['gsutil', '-m', 'mv', tmp_dir, final_dir],
  File "/home/yihan/miniconda3/envs/t5x/lib/python3.8/subprocess.py", line 516, in run
    raise CalledProcessError

[2022-10-24 07:38] Sarimuko commented on #864
Problem solved by running `gcloud init`

[2022-10-24 22:08] romanbrickie opened #866 "seqio.get_dataset() got an unexpected keyword argument 'batch_size'"
hello, run into a problem which complaining about that seqio.get_dataset() got an unexpected keyword argument 'batch_size'，upon checking on git blame, know that it is introduced 4 days ago by Mavin182.  While the newest seqio does not contain such function with an additional parameter.

[2022-10-24 22:13] romanbrickie commented on #866
https://github.com/google-research/t5x/commit/74f65409ce0de63a8d1a16b497800d24234467cb
I just follow the instructions t5x give to set up the env. like this:
python3 -m pip install --upgrade "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
python3 -m pip install xmanager clu seqio orbax gin-config t5
git clone https://github.com/google-research/t5x.git
cd t5x
python

[2022-10-24 22:13] romanbrickie commented on #866
please comment if I should use specific version of seqio, Thanks

[2022-10-25 13:56] romanbrickie opened #870 "jax preallocate 90% of 32G memory but more allocation still happen"
![image](https://user-images.githubusercontent.com/3797521/197793040-a97fb21c-8645-4104-bf0a-94f63af64a65.png)

2022-10-25 21:52:08.138224: W external/org_tensorflow/tensorflow/tsl/framework/bfc_allocator.cc:479] Allocator (GPU_0_bfc) ran out of memory trying to allocate 27.93GiB (rounded to 29995136256)requested by op
2022-10-25 21:52:08.139090: W external/org_tensorflow/tensorflow/tsl/framework/

[2022-10-25 13:59] romanbrickie commented on #870
From watch info of nvidia-smi, I could see the preallocated memory size is around 29379. But from the number we could see that before OOM, 29549 bytes are allocated and ater that, jax still keep allocating.

[2022-10-26 08:38] younesbelkada opened #874 "Sharing MoE results for integration tests"
Hi there! 👋

We have been working to add Switch transformers in Hugging Face `transformers` in https://github.com/huggingface/transformers/pull/19323 !
We believe that we have almost finalized the conversion process, and would like to ask you few questions to make sure the conversion has been done correctly.
We are currently matching the logits between the output that is obtained with `t5x.infer`

[2022-11-04 09:43] hepengfe opened #898 "Override checkpoint model architecture"
This issue is from https://github.com/google-research/prompt-tuning/issues/231, and I think it's related in t5x model as well after referring to loading the checkpoint in https://github.com/google-research/t5x/blob/d4125b287c843f9359b338763769f96fd7568269/t5x/notebooks/introduction.ipynb.

The question is basically how to override partial checkpoint model architecture?

[2022-11-17 09:01] boram915 opened #923 "AssertionError: 'c4_v220_span_corruption' does not exist in any of the task cache directories."
Hi,
I'm trying to verify the installation of T5 using the example code.
MODEL_DIR="${HOME}/test-model/"
python3 -m t5x.train \
  --gin_file=t5x/examples/t5/t5_1_1/examples/small_c4_pretrain.gin \
  --gin.MODEL_DIR=\"${MODEL_DIR}\" \
  --alsologtostderr

Then I get this error: AssertionError: 'c4_v220_span_corruption' does not exist in any of the task cache directories.

How I installed:
On the GCP

[2022-11-17 21:15] fadebek1 commented on #866
Having the same issue, not sure why that was committed. Maybe just a previous commit

[2022-11-18 04:07] fadebek1 commented on #923
Try setting `USE_CACHED_TASKS = False`

[2022-11-19 00:34] fadebek1 opened #929 "Tensorboard train lags behind eval?"
I noticed on tensorboard during training that eval metrics will start computing at a step thats a lot higher than the current train step. Is this expected? Example in the image below. Orange is train, blue is eval. How can eval already start at step 1.005M and 1.01M when training is still at 1.001M? Is the train step incorrect?

<img width="382" alt="Screen Shot 2022-11-18 at 5 33 32 PM" src="http

[2022-11-22 11:07] boram915 commented on #923
Thank you. It worked.
Though it caused out of memory error since I am using v3-8 without any additional disk attached.
Somewhere I read it costs quite much to process the whole C4/en datasets, so I got processed one from huggingface and will try it.

I want to verify the installation t5x. So, I tried wmt_t2t_translate example. It caused another error belw:
$ python3 ${T5X_DIR}/t5x/train.py   --gin

[2022-11-23 12:01] boram915 commented on #923
Becasue the error "ValueError: No Task or Mixture found with name '<seqio.dataset_providers.Task object" occurred with C4 and WMT,
I changed "t5x/utils.py" line 1465
  from "mixture_or_task_name=mixture_or_task,"
  to "mixture_or_task_name=cfg.mixture_or_task_name,"
then seqio.dataset_providers.py seems to get the task as expected. Am I right and was that code wrong?

Now I struggles with USE_CACH

[2022-11-23 12:11] boram915 commented on #629
Hi
I had that error too. In my case I changed c4/en/2.2.0 to c4/en/3.1.0 and it worked.
Though another errors appeared.
Did you succeed in pretraining using any of the example .gin file?

[2022-11-25 09:16] wangshengnan511799 opened #933 "Why scale the expert gradient during training, due to mixed precision training?"

[2022-11-25 09:19] wangshengnan511799 commented on #933
I found that the scale_shard_grads will scale the expert gradients by the num_experts. Is it for avoiding the underflow  of the small value of expert gradients in using fp16 training.

[2022-11-28 19:56] fadebek1 commented on #929
Realized it was because `stats_period` was set to 1 by default and those metrics are logged asynchronously.

[2022-11-28 19:56] #929 closed